<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="block">
        <header>
        <div class="title">Memory-card game</div>
        <div class="game-info">
            <div class="game-info">
                Time:<span class="game-info" id="time-remaining"></span>
            </div>
            <div class="game-info">
                Score:<span class="game-info" id="score">0</span>
            </div>
        </div>
    </header>
    <section id="memory-Game">
        <div class="card" data-framework="lion"><img class="face" src="imgs/lion.png" alt="lion"><img class="back" src="imgs/logo.jpg" alt="back"></div>
        <div class="card" data-framework="lion"><img class="face" src="imgs/lion.png" alt="lion"><img class="back" src="imgs/logo.jpg" alt="back"></div>
        <div class="card" data-framework="elephant"><img class="face" src="imgs/elephant.png" alt="elephant"><img class="back" src="imgs/logo.jpg" alt="back"></div>
        <div class="card" data-framework="elephant"><img class="face" src="imgs/elephant.png" alt="elephant"><img class="back" src="imgs/logo.jpg" alt="back"></div>
        <div class="card" id="102" data-framework="turtle"><img class="face" src="imgs/turtle.png" alt="turtle"><img class="back" src="imgs/logo.jpg" alt="back"></div>
        <div class="card" id="101" data-framework="turtle"><img class="face" src="imgs/turtle.png" alt="turtle"><img class="back" src="imgs/logo.jpg" alt="back"></div>
        <div class="card" id="92" data-framework="fox"><img class="face" src="imgs/fox.png" alt="fox"><img class="back" src="imgs/logo.jpg" alt="back"></div>
        <div class="card" id="91" data-framework="fox"><img class="face" src="imgs/fox.png" alt="fox"><img class="back" src="imgs/logo.jpg" alt="back"></div>
        <div class="card" id="82" data-framework="cat"><img class="face" src="imgs/cat.png" alt="cat"><img class="back" src="imgs/logo.jpg" alt="back"></div>
        <div class="card" id="81" data-framework="cat"><img class="face" src="imgs/cat.png" alt="cat"><img class="back" src="imgs/logo.jpg" alt="back"></div>
        <div class="card" id="72" data-framework="dolphin"><img class="face" src="imgs/dolphin.png" alt="dolphin"><img class="back" src="imgs/logo.jpg" alt="back"></div>
        <div class="card" id="71" data-framework="dolphin"><img class="face" src="imgs/dolphin.png" alt="dolphin"><img class="back" src="imgs/logo.jpg" alt="back"></div>
        <div class="card" id="62" data-framework="bee"><img class="face" src="imgs/bee.png" alt="bee"><img class="back" src="imgs/logo.jpg" alt="back"></div>
        <div class="card" id="61" data-framework="bee"><img class="face" src="imgs/bee.png" alt="bee"><img class="back" src="imgs/logo.jpg" alt="back"></div>
        <div class="card" id="52" data-framework="cow"><img class="face" src="imgs/cow.png" alt="cow"><img class="back" src="imgs/logo.jpg" alt="back"></div>
        <div class="card" id="51" data-framework="cow"><img class="face" src="imgs/cow.png" alt="cow"><img class="back" src="imgs/logo.jpg" alt="back"></div>
        <div class="card" id="42" data-framework="hen"><img class="face" src="imgs/hen.png" alt="hen"><img class="back" src="imgs/logo.jpg" alt="back"></div>
        <div class="card" id="41" data-framework="hen"><img class="face" src="imgs/hen.png" alt="hen"><img class="back" src="imgs/logo.jpg" alt="back"></div>
        <div class="card" id="32" data-framework="koala"><img class="face" src="imgs/koala.png" alt="koala"><img class="back" src="imgs/logo.jpg" alt="back"></div>
        <div class="card" id="31" data-framework="koala"><img class="face" src="imgs/koala.png" alt="koala"><img class="back" src="imgs/logo.jpg" alt="back"></div>
        <div class="card" id="22" data-framework="sheep"><img class="face" src="imgs/sheep.png" alt="sheep"><img class="back" src="imgs/logo.jpg" alt="back"></div>
        <div class="card" id="21" data-framework="sheep"><img class="face" src="imgs/sheep.png" alt="sheep"><img class="back" src="imgs/logo.jpg" alt="back"></div>
        <div class="card" id="12" data-framework="duck"><img class="face" src="imgs/duck.png" alt="duck"><img class="back" src="imgs/logo.jpg" alt="back"></div>
        <div class="card" id="11" data-framework="duck"><img class="face" src="imgs/duck.png" alt="duck"><img class="back" src="imgs/logo.jpg" alt="back"></div>
    </section>
    <footer>This great game made by Yitzhak & Amitai</footer>
    <script type="text/javascript" src="script.js"></script>
</body>
</html>