body{
    height: 100vh;
    display: flex;
    background-image: url("bgimage.jpg");
}
form {
    border: 3px solid #f1f1f1;
    width: 40%;
    margin: auto;
  }
  input[type=text]{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }  
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 40%;
    border-radius: 3px;
  }
  footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: gold;
    text-align: center;
  }
  button:hover {
    opacity: 0.8;
  }
  .container {
    padding: 16px;
  }